@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>JOB SEEKER is the #5 job site in the world1 with over 50 thousand unique visitors every month. 
    JOB SEEKER strives to put job seekers first, giving them free access to search for jobs, post resumes, 
    and research companies. Every day, we connect thousands of people to new opportunities.</p>
